<header>
    <nav>
        <section>
            <a href='#' class="logo">MovyMovie</a>
            <input type='checkbox' id='check' />
            <ul class="menu">

                <li><a href="">Home</a></li>
                <li><a href="">Movies</a></li>
                <li><a href="">TV-series</a></li>
                <li><a href="">Genres</a></li>
                <li class="search">
                    <form id="searchBox">
                        <i class="fa fa-search" id="searchIcon" aria-hidden="true"></i>
                        <input type="search" placeholder="Search" aria-label="Search">
                        <i class="fa fa-microphone"></i>
                    </form>
                </li>
                <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
            </ul>
            <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
        </section>
    </nav>
</header>