<h3>Similar Movies</h3>

<ul>
        <% if (similarMovies && similarMovies.length> 0) { %>
    <% similarMovies.forEach(movie=> { %>
        <li>
            <div class="image-container">
                <% if (movie.poster_path) { %>
                    <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>">
                    <% } else { %>
                        <img src="/assets/images/image.png" class="height-change"
                            alt="There is no poster for this movie">
                        <% } %>
            </div>

            <% if (movie.title) { %>
                <a href="/movie/<%= movie.id %>">
                    <%= movie.title %>
                </a>
                <% } else { %>
                    <a href="/404">Movie not found</a>
                    <% } %>

        </li>
        <% }); %>
                        <% } else { %>
                            <p class="similarPadding">There are no similar movies available for this movie :(</p>
                            <% } %>

</ul>