/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks");

/* LAYER */
@layer base {
    /* RESETTING */
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    button,
    summary {
        cursor: pointer;
    }
}

/* CUSTOM PROPERTIES */
:root {
    /* colors */
    --white: white;
    --black: black;

    --on-off: sienna;

    --color1: #fff;
    --color2: #181818;

    --purple: #22092c;
    --whiskey: #872341;
    --warm-pink: #be3144;
    --warm-orange: #f05941;
}

@media screen and (width > 1rem) {
    /* GENERAL STYLING */
    body {
        background-color: yellow;
    }

    /* hidden h1 */
    h1 {
        /* https://www.a11yproject.com/posts/how-to-hide-content/ */
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    a {
        text-decoration: none;
        font-family: "Rubik Moonrocks", sans-serif;
        cursor: pointer;
    }

    /* NAVBAR */
    header {
        padding: 1em;
        background-color: var(--color2);
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        color: #f5f7ff;
        font-family: "Rubik Moonrocks", sans-serif;
        font-size: larger;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        padding-inline-start: 0;
        margin: 0;
    }

    li {
        padding-inline-start: 0px;
        list-style-type: none;
        padding-left: 0;
        list-style: none;
    }

    header nav > section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        padding: 12px 20px;
    }

    .menu li a {
        display: inline-block;
        color: var(--color1);
        text-align: center;
        transition: 0.15s ease-in-out;
        position: relative;
        text-transform: uppercase;
    }

    .menu li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--color1);
        transition: 0.15s ease-in-out;
    }

    .menu li a:hover:after {
        width: 100%;
    }

    .open-menu,
    .close-menu {
        position: absolute;
        color: var(--color1);
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
    }

    .open-menu {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    .close-menu {
        top: 32px;
        right: 36px;
    }

    #check {
        display: none;
    }

    /* search form */
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* https://codepen.io/cjr85/pen/XWMMXob */
    #searchBox {
        display: flex;
        align-items: center;
        padding: 1em;

        background: #f5f7ff;
        border-radius: 2em;
        box-shadow:
            5px 5px 15px -1px rgba(0, 0, 0, 0.209),
            -5px -5px 15px -1px rgba(255, 255, 255, 0.621);
    }

    .fa-microphone {
        width: 0;
        padding-right: 0.5em;
        transition: 0.4s;
        transition-delay: 0.4s;
    }

    #searchIcon {
        width: 2em;
    }

    #searchBox input {
        width: 0;
        background: transparent;
        font-size: 1em;
        border: 0;
        outline: none;
        transition: 1.5s;
    }

    #searchBox.active input {
        width: 7.5em;
        padding: 0.1em 0.1em;
    }
}
@media screen and (width > 31rem) {
    body {
        background-color: greenyellow;
    }
}

@media screen and (width < 49rem) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li a {
        padding: 10px;
    }
    .open-menu,
    .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
}

@media screen and (width > 49rem) {
    body {
        background-color: green;
    }
    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-inline-start: 0;
        margin: 0;
    }
}
