/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One");

/* LAYER */
@layer base {
    /* RESETTING */
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    button,
    summary {
        cursor: pointer;
    }

    a,
    p,
    h3,
    h4,
    input {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }
}

/* CUSTOM PROPERTIES */
:root {
    /* colors */
    --white: white;
    --black: black;

    --on-off: sienna;

    --change-white: #fff;
    --change-black: #181818;

    --purple: #22092c;
    --whiskey: #872341;
    --warm-pink: #be3144;
    --warm-orange: #f05941;
}

@media screen and (width > 1rem) {
    /* GENERAL STYLING */
    body {
        background: rgb(240, 89, 65);
        background: radial-gradient(circle, rgba(240, 89, 65, 1) 0%, rgba(190, 49, 68, 1) 50%, rgba(135, 35, 65, 1) 100%);
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
    }

    /* hidden h1 */
    h1 {
        /* https://www.a11yproject.com/posts/how-to-hide-content/ */
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    h2 {
        font-family: "Rubik Moonrocks", sans-serif;
        padding-left: 2rem;
    }

    a {
        text-decoration: none;
        font-family: "Rubik Moonrocks", sans-serif;
        cursor: pointer;
        color: var(--white);
    }

    /* NAVBAR */
    header {
        padding: 1em;
        background-color: var(--purple);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(34, 9, 44, 1) 100%);
        position: fixed;
        top: 0cm;
        width: 100vw;
        z-index: 100;
    }

    main {
        margin-top: 6em;
    }

    #movieDetail {
        margin-top: 5em;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        color: var(--warm-orange);
        font-family: "Rubik Moonrocks", sans-serif;
        font-size: 1.5em;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        /* padding-inline-start: 0; */
        margin: 0;
        height: max-content;
    }

    li {
        padding-inline-start: 0px;
        list-style-type: none;
        padding-left: 0;
        list-style: none;
        cursor: pointer;
    }

    header nav > section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        padding: 12px 20px;
    }

    .menu li a {
        display: inline-block;
        color: var(--change-white);
        text-align: center;
        transition: 0.15s ease-in-out;
        position: relative;
        text-transform: uppercase;
    }

    .menu li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--change-white);
        transition: 0.15s ease-in-out;
    }

    .menu li a:hover:after {
        width: 100%;
    }

    .open-menu,
    .close-menu {
        position: absolute;
        color: var(--change-white);
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
    }

    .open-menu {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    .close-menu {
        top: 32px;
        right: 36px;
    }

    #check {
        display: none;
    }

    /* search form */
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* https://codepen.io/cjr85/pen/XWMMXob */
    #searchBox {
        display: flex;
        align-items: center;
        padding: 1em;

        background: var(--change-white);
        border-radius: 2em;
        box-shadow:
            0px 0px 20px 0px rgba(0, 0, 0, 0.209),
            0px 0px 20px 0px rgba(255, 255, 255, 0.621);
    }

    .fa-microphone {
        width: 0;
        padding-right: 0.5em;
        transition: 0.4s;
        transition-delay: 0.4s;
    }

    #searchIcon {
        width: 2em;
    }

    #searchBox input {
        width: 0;
        background: transparent;
        font-size: 1em;
        border: 0;
        outline: none;
        transition: 1.5s;
    }

    #searchBox.active input {
        width: 7.5em;
        padding: 0.1em 0.1em;
    }

    /* COMPONENT STYLING */
    ul:has(img) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        scroll-behavior: smooth;
        overflow: scroll;
        scrollbar-width: none;
        height: 23rem;

        padding-left: 2rem;
        padding-right: 2rem;
    }

    li:has(img) {
        display: grid;
        gap: 0.5em;
        grid-template-columns: 7em max-content;
        grid-template-rows: max-content 4em;

        padding: 1em;
        background-color: var(--whiskey);
        border-radius: 1rem;
    }

    li:has(img):hover {
        box-shadow: 0px 0px 10px 0px pink;
    }

    li:has(img) .image-container {
        grid-area: 1 / 1 / 2 / 3;
        width: 10em;
        height: 15em;
        justify-self: center;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        background-color: var(--change-black);
        background: radial-gradient(circle, rgba(34, 9, 44, 0.9738489145658263) 0%, rgba(19, 8, 29, 1) 100%);

        box-shadow:
            0px 0px 10px -2px rgba(82, 3, 3, 0.209),
            0px 0px 10px -2px rgba(6, 5, 5, 0.621);

        & img {
            border-radius: 0.5rem;

            width: 10em;
            height: 15em;
        }
    }

    .height-change {
        height: auto !important;
        width: 5em !important;
        align-self: center;
    }

    main:has(img) ul li a {
        grid-area: 2 / 1 / 3 / 2;
        justify-self: start;
        align-self: center;

        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        text-align: center;
        position: relative;
    }
    /* main:has(img) ul li a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--change-white);
        transition: 0.15s ease-in-out;
    }

    main:has(img) ul li a:hover:after {
        width: 100%;
    } */

    main:has(img) ul li p {
        grid-area: 2 / 2 / 3 / 3;
        justify-self: end;
        align-self: center;

        /* height: 4em; */
    }

    .vote_average {
        display: grid;
        place-items: center;
        justify-content: center;
        align-self: center;
        align-items: center;

        width: 2.5em;
        height: 2.5em;
        padding: 0.5em;

        text-align: center;
        border-radius: 5%;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-weight: 600;

        background-color: var(--purple);
        border: 1px 1px solid var(--change-black);
    }

    /* SEARCH */

    #searchResults ul:has(img) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        padding: 1em;
    }

    /* Detail page  */
    #backdropMovie {
        position: relative;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .tagline {
        position: absolute;
        top: 0;
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;

        font-family: "Leckerli One", cursive;

        font-size: 1.5rem;
        font-weight: 900;
        text-shadow:
            0px 0px 5px rgba(255, 255, 255, 0.5),
            0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    #backdropMovie > img {
        display: block;
        height: 60vh;
        width: 100vw;
        object-fit: cover;
        object-position: center;
        filter: blur(5px);
    }

    #headerMovie {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 2rem;

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1.5rem;
    }

    #headerMovie img {
        grid-area: 1 / 1 / 3 / 2;
        width: 10rem;
        height: 15rem;
        border-radius: 0.5rem;

        box-shadow:
            0px 0px 10px -2px rgba(82, 3, 3, 0.209),
            0px 0px 10px -2px rgba(6, 5, 5, 0.621);
    }

    #headerMovie h2 {
        padding: 0;
        margin: 2rem 0;
    }

    #headerMovie img {
        width: 120px;
        height: auto;
        float: left;
    }

    #movieTitleGroup,
    #overviewMovie,
    #trailersMovie,
    #reviewsMovie {
        color: var(--change-white);
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }

    #movieTitleGroup {
        padding-left: 1rem;
    }

    #movieTitleGroup h2 {
        margin: 0;
        font-size: 1.5rem;
    }

    #movieTitleGroup p {
        margin: 0;
        font-size: 16px;
        opacity: 0.6;
    }

    #movieTitleGroup a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(92.88deg, #455eb5 9.16%, #5643cc 43.89%, #673fd7 64.72%);
        border-radius: 2rem;
        border-style: none;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        color: var(--change-white);
        font-size: 1rem;
        font-weight: 600;

        text-align: center;

        text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;

        height: 4rem;
        padding: 0 1.5rem;

        transition: all 0.5s;
    }

    #movieTitleGroup a:hover {
        box-shadow: rgba(80, 63, 205, 0.5) 0 0.1rem 1.5rem;
        transition-duration: 0.1s;
    }

    #detailMovies .vote_average {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: bold;
        z-index: 10;
    }

    /* Rating Colors */
    .green {
        color: green;
    }

    .yellow {
        color: yellow;
    }

    .red {
        color: red;
    }

    #overviewMovie,
    #trailersMovie,
    #reviewsMovie {
        color: var(--change-black);
        margin: 2rem;
    }

    #similarMovies {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    #similarMovies h3 {
        padding: 0rem 2rem;
    }

    h3 {
        color: var(--white);
        font-size: 1.5rem;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-weight: 900;
    }

    .similarPadding {
        padding: 2rem;
    }

    /* Trailer movies */
    #trailersMovie ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    #trailersMovie {
        display: none;
    }

    #trailersMovie:target {
        display: flex;
    }

    #reviewsMovie ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #reviewsMovie li {
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: var(--warm-orange);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #reviewsMovie li h4 {
        margin: 0 0 10px 0;
        font-size: 1.2em;
        color: var(--change-black);
    }

    #reviewsMovie li p {
        margin: 0;
        color: var(--change-white);
        line-height: 1.5;
        font-size: 0.8rem;
        height: unset;
    }

    #genresMovie {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    #genresMovie ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    footer {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100vw;
        height: 10vh;
        background-color: #22092cb6;
        margin-top: 3rem;
    }
    footer h2 {
        position: absolute;
        bottom: 0.5rem;
    }

    .errorstatus,
    .err {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100vw;
        height: 100vh;
        margin: 0;
        font-size: 5vmin;
    }
}

@media screen and (width > 31rem) {
    main {
        margin-top: 8em;
    }

    #headerMovie img {
        width: 150px;
    }

    #overviewMovie,
    #similarMovies,
    #trailersMovie,
    #reviewsMovie {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #movieTitleGroup h2 {
        font-size: 2rem;
    }

    #detailMovies .vote_average {
        bottom: 3rem;
        right: 3rem;
        border-radius: 50%;
        font-size: 1.25rem;
        font-weight: bold;

        width: 3em;
        height: 3em;
        padding: 1em;
    }

    .tagline {
        font-size: 2rem;
        padding-top: 2rem;
    }

    .errorstatus {
        margin: 0;
    }
}

@media screen and (width < 49rem) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--change-black);
        transition: all 0.2s ease-in-out;
    }

    .menu li a {
        padding: 10px;
    }
    .open-menu,
    .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
}

@media screen and (width > 49rem) {
    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-inline-start: 0;
        margin: 0;
    }

    #overviewMovie,
    #similarMovie,
    #trailersMovie,
    #reviewsMovie {
        padding-left: 15vw;
        padding-right: 15vw;
    }

    #headerMovie img {
        width: 200px;
    }

    #movieTitleGroup {
        max-width: 100%;
    }

    #movieTitleGroup h2 {
        font-size: 2.5rem;
    }

    .tagline {
        padding-top: 3.5rem;
    }
}
